//sui page
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 2000
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.content-padded {
  margin: .5rem
}

.page-group.page-current,.page-group.page-from-center-to-left,.page-group.page-from-center-to-right,.page-group.page-from-left-to-center,.page-group.page-from-right-to-center,.page-group.page-visible,.page.page-current,.page.page-from-center-to-left,.page.page-from-center-to-right,.page.page-from-left-to-center,.page.page-from-right-to-center,.page.page-visible {
  display: block
}

.page-group.page-current,.page.page-current {
  overflow: hidden
}

.page-group {
  display: block
}

@-webkit-keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: .9
  }

  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@keyframes pageFromRightToCenter {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: .9
  }

  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: .9
  }
}

@keyframes pageFromCenterToRight {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: .9
  }
}


/*
翻页效果
*/
.page-enter {
  z-index: 2002;
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  -o-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards
}
.page-leave {
  z-index: 2002;
  /*display: none;*/
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  -o-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards
}


.register-logo img{
  max-width: 100%;
}
.mm-border-bottom {
  border-bottom:1px solid;
  margin-bottom:0.5rem;
}

.mm-reg-btn {
  margin-top:2rem;
}
.intro {
  margin-top:2rem;
  padding-bottom:2rem;
}
.intro-line {
  position: absolute;
  top: 12px;
  height: 1px;
  width: 100%;
  /* line-height: 10px; */
  background: #000;
  vertical-align: middle;
  z-index:-1;
}
.mm-code-btn {
  background: #000;
  color: #fff;
}
.intro-title {
  position: relative;
  text-align: center;
}
.intro-title span {
  background: #fff;
}
.intro-content p {
  font-size:12px;
}
.weui_panel_hd {
  color: #000!important;
  background: #efefef;
}

[v-cloak] {
  display: none;
}

.mm-cart-panel .weui_media_title{
  font-size: 12px!important;
}
.mm-cart-panel .weui_panel_hd {
  padding-top:5px!important;
  padding-bottom:5px!important;
}
